-c requirements.txt

black
h5py
ipdb
itermplot
matplotlib
pandas
pillow
pytorch-lightning<1.2
pyyaml
requests
scipy
sklearn
toml
torchvision==0.9.1
tqdm
wandb

bandit
mypy
pycodestyle
pydocstyle
pylint
pytest
safety
shellcheck-py